$border_color: #efefef;
$accent_color: #007bff;

.page {
  .page_top {
    border-bottom: 1px solid $border_color;

    .logo {
      img {
        width: 100%;
      }
    }

    .menu {
      width: 100%;
      padding-top: 50px;
      ul {
        width: 100%;
        li {
          display: inline-block;
          vertical-align: top;
          padding-right: 20px;
        }
      }
    }
  }

  .page_content {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .page_footer {
    padding: 20px 0 20px 0;
    border-top: 1px solid $border_color;

    .logo {
      height: 100px;
      overflow: hidden;
      img {
        position: relative;
        bottom: 20px;
        width: 100%;
      }
    }

    .company_data {
      padding-top: 15px;
      font-size: 12px;
    }
  }
}

.product_list {
  .one_product {
    .image {
      width: 100%;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

.paggination {
  width: 100%;

  ul {
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.contact {
  text-align: center;
  img {
    width: 300px;
  }
}

.product_details {
  .image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
  }

  .add_to_cart {
    padding-bottom: 20px;
    .price {
      font-size: 14px;
      padding-bottom: 5px;

      span {
        font-size: 20px;
      }
    }

    .added_info {
      display: none;
    }
  }
}

.default_font {
  font-size: 14px;
  line-height: 22px;

  p {
    padding: 0;
    padding-bottom: 22px;
    margin: 0;
  }
}

.button {
  cursor: pointer;
  background-color: $accent_color;
  color: #fff !important;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    opacity: 0.7;
  }
}

.user_asside {
  padding-top: 20px;
  font-size: 13px;
}

.menu_admin {
  background-color: $accent_color;
  color: #fff;
  font-size: 12px;

  .title {
    font-weight: bold;
    padding-top: 10px;
  }

  .menu {
    ul {
      width: 100%;
      text-align: left;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        a {
          color: #fff;
          display: block;
          padding: 10px 20px;
        }
      }
    }
  }
}

.cart_products_list_box {
  .one_product {
    .image {
      width: 100%;
      padding-bottom: 60%;
      background-size: cover;
      background-position: center;
    }
  }
}
